* {
  margin: 0;
}

.container {
  max-width: 1170px;
  flex-direction: row;
  margin: 0 auto;
  background-color: #eef;
}

.header-wrapper {
  flex: 126px auto 142px;
}

.header-logo {
  min-width: 142px;
  background-image: 'img/dananz.png';
}